*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    padding: 1.5rem;
    background-color: #dcf4ff;
    text-align: center;
    border: solid 1px #52a4caa1;
    font-weight: 600;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0; 
}

main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 200px;
}

h2 {
    color: navy;
    text-align: left;
    grid-column: 1/-1;
}

h3 {
    margin-bottom: 1rem;
}

section {
    padding: 1rem;
}

article p {
    text-align: justify;
}

.callout {
    color: #000;
    background-color: #f5e6f2;
    padding: 1rem 1.5rem;
    grid-column: 1/-1;
    border: 1px solid #ae8eb8b7
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}