/* larger screens */
@media (min-width: 700px) {
    body {
        box-shadow: 0px 0px 10px var(--darkest-color);
    }
    /* ----- HEADER ----- */
    header {
        display: flex;
        justify-content:space-between;

    }

    nav {
        justify-content: flex-end;

    }

    #menu {
        display: none;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav li {
        display: block;
    }

    nav a {
        flex: 1 1 100%;
        font-size: 16px;
    }

    /* ----- MAIN ----- */
    .hero {
        position: relative;
    }

    .cta {
        position: absolute;
        top: 50%;
        left: 7%;
        width: 85%;
        /* font-size: 1.3rem; */
    }

    .shortbio {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

   .shortbio img {
    padding: 1rem .5rem 0 1.5rem;
   }

   /* ---- ABOUT PAGE ----- */
   .aboutpage {
    grid-template-columns: 1fr 1fr;
   }

   .about, .aboutpage .hero {
    grid-column: 1/-1;
   }

   .aboutpage img {
       padding: 0;
   }

   .column img {
    padding: .5rem 2rem;
   }

}