:root {
    --header-footer: #FFE066; /*Royal Gold*/
    --cta-background: #BCB6FF; /*Periwinkle*/
    --accent-color: #C0FDFB; /*Icy Aqua*/
    --darkest-color: #161019; /*Coffee Bean*/
    --lightest-color: #fff; /*white*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    font-family: "Poppins", Arial, sans-serif;
    color: var(--darkest-color);
}

h1, footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--header-footer);
}

h2 {
    padding: .5rem;
    border-top: solid 5px var(--cta-background);
}

p, ul, ol {
    padding: 1rem;
}

li {
    margin-left: 1rem;
}

h3 {
    padding: 1rem;
}

img {
    padding-top: .5rem;
    box-shadow: 1px 1px 5px#161019;
}

.headings {
    font-weight: 800;
}

.quotes {
    font-family: "Noto Serif", Georgia, serif;
    font-style: italic;
    font-weight: 600;
}

.wireframes {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.wireframes img {
    margin: 0 auto;

}

.wireframes h2 {
    grid-column: 1/-1;
}

footer {
    border-top: solid 5px var(--cta-background);
}