* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 500px;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    border: 1px solid rgb(233, 232, 232);
}

thead th{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 1rem;
}

th, td {
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    padding: .5rem 1rem;
}

tbody tr:nth-child(even) td  {
  background-color: rgb(233, 232, 232);
}

tbody tr:nth-child(even) th {
    background-color: rgb(233, 232, 232);
}

.subheading th {
    background-color: rgb(78, 78, 78);
    border: 1px solid rgb(58, 58, 58);
}

.empty {
    background-color: black;
    border: 1px solid black;
}

caption {
    padding: 1rem;
    text-align: center;
    caption-side: bottom;
    font-size: .9rem;
}