/* color scheme */
:root {
    --tiffany-blue: hsl(172, 43%, 76%);
    --mimi-pink: hsl(342, 67%, 90%);
    --raisin-black: hsl(264, 27%, 11%);
    --card-color: hsl(266, 15%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", Arial, sans-serif;
    color: var(--raisin-black);
}

/* mobile styling */
header {
    display: grid;
    background: var(--tiffany-blue);
    align-items: center;
}

header,
main {
    margin: 0 auto;
}

#temple {
    font-size: 1.7rem;
    font-weight: 800;
    padding: .5rem;
    margin: .5rem;
}

#menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: none;
    background: var(--tiffany-blue);
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 2.7rem;

}

#menu::before {
    content: "≡";
    color: var(--raisin-black);
}

nav {
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li {
    display: none;
}

.open li {
    display: block;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    color: var(--raisin-black);
}

nav a:hover {
    background: var(--mimi-pink);
    font-weight: 600;
}

#menu.open::before {
    content: "⨉";
    color: var(--raisin-black);
}

h2 {
    text-align: center;
    padding: 1rem;
    grid-column: 1/-1;
}

main {
    max-width: 800px;
}

.res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
}

.res-grid img {
    width: 100%;
    padding: .5rem;
}

section {
    width: 100%;
    background-color: var(--card-color);
}

.res-grid p {
    text-align: center;
    padding: .2rem .3rem 0;
    font-size: .9rem;
}

h3 {
    padding: 1rem 0 1rem;
    text-align: center;
    background-color: var(--raisin-black);
    color: hsl(0, 0%, 100%);
}

.label {
    font-weight: 700;
}

footer {
    background: var(--mimi-pink);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0 0;
}