:root {
    --orange-color: #b45135;
    --blue-color: #666daa;
    --light-color: #F4F1DE;
    --text-color: #1D1D1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: var(--text-color);
}

/* ------ HEADER ------ */
header {
    width: 100%;
}
h1 {
    text-align: center;
    background-color: var(--light-color);
    padding: 1rem;
}

/* ------ FORM ------ */
/*indicates required field*/
main{
    max-width: 800px;
}

main p {
    padding-top: 1rem;
    text-align: center;
}
.required {
    color: var(--orange-color);
    font-size: 1.3rem;
    font-weight: 600;
}

/*form elements*/
form {
    max-width: 600px;
    width: 350px;
    margin: 0 auto;
    padding: 1rem 0;
}

fieldset {
    border: none;
}

legend {
    padding: 2rem 0 0;
    font-weight: 700;
}

.em {
    font-style:italic;
}
/*stars rating*/
.stars {
    display: flex;
    width: 260px;
    margin-top: 5px;
    position: relative;
    flex-direction: row-reverse;

}
.stars input {
    display: none;
}

.stars > label {
    width: 50px;
    height: 50px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 50px;
    color: var(--orange-color);
}

.stars label::before {
    content: '\2606';
    position: absolute;
    bottom: 5px;
}

.stars label:hover {
    color: var(--blue-color);
}

.stars input:checked ~ label:before {
    content: '\2605';
}

/*input fields*/
input[type="date"],
input[type="text"],
input[type="submit"],
select,
textarea
{
height: 45px;
font-family: "Montserrat", Helvetica, sans-serif; 
font-size: 1rem;
border-radius: 10px;
}

input[type="text"], 
textarea, 
input[type="submit"],
select {
    width: 100%;
}

textarea {
    height: 100px;
}

.checks {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 8px;
    margin-top: 5px;
}

/*submit button*/
input[type="submit"] {
    margin-top: 2rem;
    background: var(--orange-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

input[type="submit"]:hover {
    background-color: var(--blue-color);
    color: var(--light-color);
}

/* ------ FOOTER ------ */
footer {
    background-color: var(--light-color);
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

/* ------ LARGER SCREENS ------ */
@media (min-width: 600px) {
    form {
        width: 500px;
    }
}