/* Blue and white colors match the Scottish flag */

:root {
    --blue-color: #005EB9;
    --white-color: #FFFFFF;
    --light-color: #e3eff8;
    --text-color: #060B20;
    --base-padding: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Small screens */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: var(--base-padding);
    background-color: var(--blue-color);
    border-bottom: 10px solid var(--white-color);
    color: var(--white-color);
}

main {
    position: relative;
}

h2 {
    margin-bottom: 1rem;
    background-color: var(--blue-color);
    padding: var(--base-padding);
    color: var(--white-color);
}

.hero img {
    width: 100%;
    height: auto;
}

.attribution {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: var(--light-color);
    padding: .5rem;
    font-size: 12px;
    font-style: italic;
}

.attribution a {
    color: var(--blue-color);
}

.data, .weather {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0 0 1rem 0;
    border: var(--blue-color) solid 1px;
}

.label {
    font-weight: 600;
}

section p {
    padding: .5rem;
}

.icon {
    margin: 1rem;
}

footer {
    
    background: var(--blue-color);
    padding: 2rem;
    text-align: center;
    color: var(--white-color);
}

/* larger screens */
@media (min-width: 700px) {

    .data, .weather {
        background-color: #ffffffc2;
        padding-top: 90px;
    }

    .data {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: 400px;
    }

    .weather {
        position: absolute;
        top: 70px;
        width: 250px;
        right: 10px;
    }

    .icon {
        display: none;
    }
    
    .weather h2::after {
        content: " 🌥️"
    }

    h2 {
        width: 100%;
        position: absolute;
        top:10px;
        left: -10px;
    }



}
