:root {
    --orange-color: #b45135;
    --blue-color: #666daa;
    --light-color: #F4F1DE;
    --text-color: #1D1D1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Helvetica, sans-serif;
    color: var(--text-color);
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid var(--light-color);
}
/* ------ HEADER ------ */
header {
    width: 100%;
}

h1 {
    text-align: center;
    background-color: var(--light-color);
    padding: 1rem;
}

/* ------ MAIN ------ */

main p {
    padding: 100px 100px 50px;
    text-align: center;
    font-size: 1.5rem;
}

.numreviews {
    display: block;
    color: var(--orange-color);
    font-size: 3rem;
}

button {
    background: var(--orange-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem 1.5rem;
    display: block;
    margin: 0 auto;
    font-family: "Montserrat", Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: var(--blue-color);
    color: var(--light-color);
}

/* ------ FOOTER ------ */
footer {
    background-color: var(--light-color);
    padding: 1rem;
    text-align: center;
    margin-top: 100px;
}

